/.angular/cache
/.idea
*.iml

.yarn
.yarnrc.yml

/node_modules
/src/data-access

/dist
/lib
/coverage
/reports
/cypress/screenshots

/config/helm/angular-sample/charts/*.tgz
/config/helm/angular-sample/Chart.lock
yarn-error.log

.scannerwork

